<div class="main-logo"></div>
<div class="leftPane">
    <div class="category">
        @using (Html.BeginForm()) { 
        @Html.DevExpress().PageControl(settings =>
        {
            settings.Name = "_leftNav";
            settings.TabPosition = TabPosition.Left;
            settings.TabPages.Add("Dashboard").SetContent(() => {
                Html.Partial("_leftMenu");
            });
            settings.TabPages.Add("Plan").SetContent(() =>
            {
                ViewContext.Writer.Write("test");
            });
            settings.TabPages.Add("Execute").SetContent(() =>
            {
                ViewContext.Writer.Write("test");
            });
            settings.TabPages.Add("Asses").SetContent(() =>
            {
                ViewContext.Writer.Write("test");
            });
            settings.TabPages.Add("Report").SetContent(() =>
            {
                ViewContext.Writer.Write("test");
            });
        }).GetHtml()
        }
    </div>

</div>



