<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>

            <th style="width: 30%;">KPI Name</th>
            <th>Measurement</th>
            <th style="width: 50px;">2015</th>
            <th style="width: 50px;">2016</th>
            <th style="width: 50px;">2017</th>
            <th style="width: 50px;">2018</th>
            <th style="width: 50px;">2019</th>
            <th style="width: 50px;">2020</th>
            <th style="width: 50px;">2021</th>
            <th style="width: 50px;">2022</th>
            <th style="width: 50px;">2023</th>
            <th style="width: 50px;">2024</th>
            <th style="width: 50px;">2025</th>
            <th style="width: 50px;">2026</th>
            <th style="width: 50px;">2027</th>
            <th style="width: 50px;">2028</th>
            <th style="width: 50px;">2029</th>
            <th style="width: 50px;">2030</th>
        </tr>
    </thead>
    <tbody>
        <tr>


            <td>Plant Production</td>
            <td>MMBTU</td>
            <th>
                <input type="text" class="form-control-small" placeholder="Value"></th>
            <th>
                <input type="text" class="form-control-small" placeholder="Value"></th>
            <th>
                <input type="text" class="form-control-small" placeholder="Value"></th>
            <th>
                <input type="text" class="form-control-small" placeholder="Value"></th>
            <th>
                <input type="text" class="form-control-small" placeholder="Value"></th>
            <th>
                <input type="text" class="form-control-small" placeholder="Value"></th>
            <th>
                <input type="text" class="form-control-small" placeholder="Value"></th>
            <th>
                <input type="text" class="form-control-small" placeholder="Value"></th>
            <th>
                <input type="text" class="form-control-small" placeholder="Value"></th>
            <th class="remark_sign">
                <input type="text" class="form-control-small" placeholder="Value"></th>
            <th>
                <input type="text" class="form-control-small" placeholder="Value"></th>
            <th>
                <input type="text" class="form-control-small" placeholder="Value"></th>
            <th>
                <input type="text" class="form-control-small" placeholder="Value"></th>
            <th>
                <input type="text" class="form-control-small" placeholder="Value"></th>
            <th>
                <input type="text" class="form-control-small" placeholder="Value"></th>
            <th>
                <input type="text" class="form-control-small" placeholder="Value"></th>
        </tr>

    </tbody>
</table>

