@model DSLNG.PEAR.Web.ViewModels.KpiTarget.UpdateKpiTargetViewModel

@{
    ViewBag.Title = "Create Kpi Target";
}
@Html.Partial("_MessageResponse")
<section>
    <div class="row">
        <div class="title_page" style="border: none!important;">
            <div class="title">Create KPI Target</div>
        </div>
    </div>
    <div class="row">
        <form class="form-inline">
            <div class="form-group"
                style="margin: 5px 40px 0px 25px; padding-right: 30px;">
                <label>Period :</label>
                <select id="periodeType" class="form-control">
                    <option value="yearly">Yearly</option>
                    <option value="monthly">Monthly</option>
                </select>
            </div>
        </form>

    </div>

</section>



<form action="@Url.Action("Update")" method="POST">
    @Html.Partial("_Yearly", Model)
    <button type="submit" class="btn btn-default">Submit</button>
    <a href="@Url.Action("Index")" class="btn btn-default">Cancel</a>
</form>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.yearly-content').show();
            $('.monthly-content').hide();

            $('#periodeType').change(function () {
                //alert('asas');
                var val = $(this).val();
                if (val === 'yearly') {
                    $('.yearly-content').show();
                    $('.monthly-content').hide();
                } else {
                    $('.yearly-content').hide();
                    $('.monthly-content').show();
                }

            });
        })
    </script>

}

