@model DSLNG.PEAR.Web.ViewModels.CorporatePortofolio.PmsSummaryConfigurationViewModel 
@{
    ViewBag.Title = "PmsSummaryConfiguration";
}

<h2>PmsSummaryConfiguration</h2>

<h1>Pillar & Key Performance Indicator</h1>
@{
    for (int i = 0; i < Model.PmsConfigs.Count; i++)
    {
        int i1 = i;
    
        @Html.DropDownListFor(x => x.PmsConfigs[i1].PillarId,new SelectList(Model.Pillars,"Value","Text", Model.PmsConfigs[i1].PillarId))
    }
}

