@*@using DSLNG.PEAR.Data.Enums*@
@model DSLNG.PEAR.Web.ViewModels.Measurement.IndexMeasurementViewModel
@{
    ViewBag.Title = "Measurement List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="page-hgroup-header">
    <h3 class="page-title">Measurement List</h3>
</hgroup>

@Html.Partial("_MessageResponse")
@Html.ActionLink("Create New", "Create", null, new { @class = "button button-action" })
@*@Html.Partial("_IndexGridPartial", Model.Measurements)*@
@Html.Action("IndexPartial")

@section Scripts{
    <script type="text/javascript">
        var confirmDelete = function(id) {
            if (confirm('Are you sure want to delete this item?')) {
                var url = '@Url.Action("Delete", "Measurement")';
                $('<form action="' + url + '" method="POST">' +
                    '<input type="hidden" name="id" value="' + id + '">' +
                    '</form>').submit();
            }
        };
    </script>
    }




