<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>
    @*<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>*@
    @*@Styles.Render("~/Content/login.css")*@
</head>

<body>
    <div class="main-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/js_login")
    <script type="text/javascript">

        $(document).ready(function () {
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
