@{
    ViewBag.Title = "Template List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="template-list">

    <hgroup class="page-hgroup-header">
        <h3 class="page-title">Template List</h3>
        <div class="breadcrumbs-regawa">
            <ul>
                <li>Dashboard</li>
                <li>Configuration Setting</li>
                <li>Template List</li>
            </ul>
        </div>
    </hgroup>

    @Html.Partial("_MessageResponse")
    @Html.ActionLink("Create New", "Create", null, new { @class = "button button-action" })
    @Html.Action("IndexPartial")

    @section Scripts{
        <script type="text/javascript">
            var confirmDelete = function (id) {
                if (confirm('Are you sure want to delete this item?')) {
                    var url = '@Url.Action("Delete", "Template")';
                $('<form action="' + url + '" method="POST">' +
                    '<input type="hidden" name="id" value="' + id + '">' +
                    '</form>').submit();
            }
        };
        </script>
    }

</div>
