body, html
{
    height: 100%;
    background: #f0f3f4;
}

.main-content
{
    padding-left: 250px;
    min-height: 100%;
    overflow: hidden;
}

/* Utility */
/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6, ajax- .h1,
.h2,
.h3,
.h4,
.h5,
.h6
{
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: sans-serif;
}

h5
{
    font-size: 28px;
}

h4, h3
{
    float: left;
    margin-top: 0px;
    margin-right: 20px;
}

h6
{
    color: #3f454f;
    font-size: 16px;
    line-height: 30px;
    float: left;
}

.main-content > aside
{
    /*float:left;*/
}

aside.right-content
{
    padding: 20px 20px 20px 0;
    padding-bottom: 500em;
    margin-bottom: -500em;
    float: left;
    width: 100%;
}

aside.left-content
{
    width: 230px;
    margin-left: -250px;
    border-left: 60px solid #004071;
    min-height: 100%;
    float: left;
    background: #fff;
    position: relative;
    padding-bottom: 500em;
    margin-bottom: -500em;
}

.left-content .left-content-toggle
{
    position: absolute;
    top: 300px;
    right: -10px;
    cursor: pointer;
    z-index: 99;
}

aside.left-content > *
{
    margin-left: -60px;
}

.main-nav
{
    padding: 0;
    width: 60px;
    position: relative;
}

    .main-nav > li
    {
        list-style: none;
        display: block;
        width: 60px;
        text-align: center;
    }

    .main-nav .sub-nav
    {
        position: absolute;
        left: 60px;
        top: 0;
        width: 170px;
        padding: 10px;
        display: none;
    }

    .main-nav li
    {
        list-style: none;
    }

        .main-nav li a
        {
            text-decoration: none;
        }

.sub-nav > li > a
{
    color: #35404d;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}

    .sub-nav > li > a span
    {
        position: absolute;
        top: 2px;
        right: -13px;
    }

.sub-nav ul
{
    padding: 0;
    display: none;
    overflow: hidden;
}

.sub-nav > li
{
    text-align: left;
    padding-bottom: 10px;
    cursor: pointer;
}

.sub-nav ul li
{
    margin: 10px 0;
}

    .sub-nav ul li:last-child
    {
        margin-bottom: 0;
    }

    .sub-nav ul li a
    {
        font-size: 12px;
        color: #35404d;
    }

.main-nav > li > a
{
    background: none;
    color: #9bd4f4;
    font-size: 11px;
    display: block;
    padding: 10px 5px;
}

    .main-nav > li > a > i
    {
        display: block;
        margin-bottom: 5px;
    }

    .main-nav > li > a:hover,
    .main-nav > li.active,
    .main-nav:hover > li.active:hover > a,
    .main-nav:hover > li.active:hover
    {
        color: #004071;
        background: #febe10;
        width: 60px;
        background-image: url("img/active.png");
        background-position: right;
        background-repeat: no-repeat;
        text-decoration: none;
    }

.main-nav:hover > li.active
{
    background: none;
}

    .main-nav:hover > li.active > a
    {
        color: #9bd4f4;
    }

    .main-nav > li.active > a,
    .main-nav:hover > li.active:hover > a
    {
        color: #fff;
    }

.main-nav > li.active .sub-nav
{
    display: block;
}

.main-nav > li > span
{
    display: block;
}

.logo > div
{
    height: 70px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

    .logo > div.pear
    {
        width: 60px;
        background: #3f454f;
        padding-top: 15px;
    }

    .logo > div.donggi img
    {
        height: 100%;
    }

img
{
    max-width: 100% !important;
}

.series-template.original,
.stack-template.original,
.series-details-holder .form-group,
.value-axis,
.stacks-holder,
#range-holder,
#hidden-fields-holder
{
    display: none !important;
}

.series-template,
.stack-template,
.plot-band-template
{
    position: relative;
}

.stack-template
{
    margin: 25px 0 0 204px;
}

    .series-template .remove,
    .stack-template .remove,
    .plot-band-template .remove
    {
        position: absolute;
        top: 0;
        right: 0;
    }



.series-template.singlestack .series-details-holder .form-group:not(.value-axis),
.series-template.multistacks .stacks-holder,
.series-template.singlestack.Custom .value-axis,
.series-template.multistacks.Custom .value-axis,
.series-template.singlestack,
.series-template.multistacks,
#range-holder.interval
{
    display: block !important;
}

.title_page
{
    border-right: 1px solid grey;
    float: left;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-top: 10px;
    padding-right: 30px;
    width: 51%;
}

.description
{
    float: right;
    margin-left: 15px;
    margin-right: 20px;
    text-align: right;
    width: 40%;
}

.tablekpitarget
{
    text-align: center;
}

    .tablekpitarget .form-control
    {
        width: 90%;
    }

    .tablekpitarget .form-control-small
    {
        width: 50px;
        margin-left: 4px;
        background-color: #FAFAFA;
        border: 1px solid #ccc;
    }

    .tablekpitarget thead
    {
        background: none;
        color: #3f454f;
        font-weight: bold;
    }

        .tablekpitarget thead th
        {
            color: #3f454f;
            font-weight: bold;
        }

.trafficlight, .title, .description_year
{
    float: left;
}

.trafficlight
{
    width: 10px;
    height: 20px;
    margin-top: 1px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 5px;
}

#gridPmsSummaryIndex_DXMainTable .dxgvDataRow_DSLNG:hover
{
    background-color: #febe10;
    color: white;
}


.modal-content
{
    padding: 20px;
}

.modal-header
{
    border-bottom: none;
}


.modal-body .nav-tabs > li > a
{
    text-align: center;
    color: #3f454f;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
    background-color: #febe10;
    color: white;
    border: none;
    text-align: center;
}

.tab-content
{
    margin-top: 30px;
    text-align: center;
}


.dropdown-toggle.icon_more
{
    background-color: #febe10;
    color: white;
    border: none;
}

.btn-more
{
    float: left;
}

/* NAV TABS */
.nav-tabs-custom
{
    margin-bottom: 20px;
    background: #fff;
    /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);*/
}

    .nav-tabs-custom > .nav-tabs
    {
        margin: 0;
        border-bottom-color: #f4f4f4;
    }

        .nav-tabs-custom > .nav-tabs > li
        {
            border-top: 3px solid transparent;
            margin-bottom: -2px;
            margin-right: 5px;
        }

            .nav-tabs-custom > .nav-tabs > li > a
            {
                -webkit-border-radius: 0 !important;
                -moz-border-radius: 0 !important;
                border-radius: 0 !important;
            }

                .nav-tabs-custom > .nav-tabs > li > a,
                .nav-tabs-custom > .nav-tabs > li > a:hover
                {
                    background: transparent;
                    margin: 0;
                }

            .nav-tabs-custom > .nav-tabs > li:not(.active) > a:hover,
            .nav-tabs-custom > .nav-tabs > li:not(.active) > a:focus,
            .nav-tabs-custom > .nav-tabs > li:not(.active) > a:active
            {
                border-color: transparent;
            }

            .nav-tabs-custom > .nav-tabs > li.active
            {
                border-top-color: #3c8dbc;
            }

                .nav-tabs-custom > .nav-tabs > li.active > a,
                .nav-tabs-custom > .nav-tabs > li.active:hover > a
                {
                    background-color: #fff;
                }

                .nav-tabs-custom > .nav-tabs > li.active > a
                {
                    border-top: 0;
                    border-left-color: #f4f4f4;
                    border-right-color: #f4f4f4;
                }

            .nav-tabs-custom > .nav-tabs > li:first-of-type
            {
                margin-left: 0px;
            }

                .nav-tabs-custom > .nav-tabs > li:first-of-type.active > a
                {
                    border-left-width: 0;
                }

        .nav-tabs-custom > .nav-tabs.pull-right
        {
            float: none !important;
        }

            .nav-tabs-custom > .nav-tabs.pull-right > li
            {
                float: right;
            }

                .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type
                {
                    margin-right: 0px;
                }

                    .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type.active > a
                    {
                        border-left-width: 1px;
                        border-right-width: 0px;
                    }

        .nav-tabs-custom > .nav-tabs > li.header
        {
            font-weight: 400;
            line-height: 35px;
            padding: 0 10px;
            font-size: 20px;
            color: #444;
            cursor: default;
        }

            .nav-tabs-custom > .nav-tabs > li.header > .fa,
            .nav-tabs-custom > .nav-tabs > li.header > .glyphicon,
            .nav-tabs-custom > .nav-tabs > li.header > .ion
            {
                margin-right: 10px;
            }

    .nav-tabs-custom > .tab-content
    {
        background: #fff;
        padding: 10px;
    }
/* Nav tabs bottom */
.tabs-bottom.nav-3 li a
{
    width: 3333.33333333% !important;
}

.tabs-bottom li a
{
    border: 0;
}

.trafficlight.green
{
    background-color: green;
}

.trafficlight.yellow
{
    background-color: yellow;
}

.trafficlight.red
{
    background-color: red;
}

.trafficlight.grey
{
    background-color: grey;
}

.trafficlight, .title, .description_year
{
    float: left;
}

.title
{
    font-size: 22px;
    font-weight: bold;
    color: #004071;
}

.trafficlight, .title, .description_year
{
    float: left;
}

.description_year
{
    font-size: 16px;
    color: #3f454f;
    font-weight: bold;
    margin-top: 1px;
    margin-top: 6px;
    margin-left: 10px;
}

.trafficlight, .title, .description_year
{
    float: left;
}

.description_month
{
    font-size: 14px;
    color: #3f454f;
    font-weight: normal;
    margin-top: 1px;
    margin-top: 6px;
    padding-left: 10px;
    float: left;
}


thead
{
    background-color: #004071;
    color: white;
}

th
{
    text-align: center;
    font-weight: normal;
}

.colorpicker .input-group-addon
{
    padding: 3px 4px;
}

    .colorpicker .input-group-addon i
    {
        display: inline-block;
        width: 15px;
        height: 15px;
        vertical-align: text-top;
        cursor: pointer;
    }

.btn-darkblue
{
    background-color: #004071;
    color: white;
    padding: 4px;
}


a:hover.btn-darkblue
{
    background-color: #febe10;
    color: white;
}

a:hover.btn-lightblue
{
    background-color: #febe10;
    color: white;
}

.btn-large
{
    width: 30%;
    padding: 15px !important;
    margin-top: 20px;
    margin: 10px;
}

/*
    Component: Buttons
-------------------------
*/


.btn
{
    font-weight: 500;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid transparent;
}

    .btn.btn-default
    {
        background-color: #fafafa;
        color: #666;
        border-color: #ddd;
        border-bottom-color: #ddd;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

        .btn.btn-default:hover,
        .btn.btn-default:active,
        .btn.btn-default.hover
        {
            background-color: #f4f4f4 !important;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }

        .btn.btn-default.btn-flat
        {
            border-bottom-color: #d9dadc;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }

.btn-lightblue
{
    background-color: #9bd4f4;
    color: white;
    padding: 4px;
}

.whitebox
{
    background-color: white;
    padding: 20px;
    margin: 15px 0 0;
}

.whitebox-full
{
    float: left;
    background-color: white;
    padding: 20px;
    width: 97.5%;
    margin: 15px 20px 20px 0;
}

.form-list
{
    width: 100%;
    padding-bottom: 20px;
}

label
{
    color: #3f454f;
    font-weight: normal;
    padding-right: 10px;
    width: 180px;
}

.form-control
{
    background-color: #FAFAFA;
    border-radius: 0px;
    padding: 0px 5px;
    height: 24px;
}

h2
{
    margin-top: 0;
    margin-bottom: 20px;
}

.artifact-designer-btns
{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    border-top: 1px solid #ccc;
    margin-top: 40px;
}

    .artifact-designer-btns .btn
    {
        margin: 0 10px;
    }

.btn-primary
{
    background-color: #004071;
    border-radius: 0;
    border: none;
}

.btn-lightblue
{
    background-color: #9bd4f4;
    color: white;
    padding: 4px;
    border-radius: 0;
    border: 0;
}

    .btn-lightblue:hover
    {
        background-color: #febe10;
        color: white;
    }

.layout-column
{
    border: 1px dotted #ccc;
    float: left;
    padding: 15px;
    text-align: center;
}

.template-view .layout-column
{
    border: none;
}

.column-properties
{
    width: 200px;
    display: inline-block;
}

.text-grey
{
    color: #777;
    float: left;
    line-height: 30px;
    margin-right: 20px;
}

.text-med
{
    font-size: 16px;
}

.text-med
{
    font-size: 16px;
}

.heading
{
    width: 180px;
    float: left;
}

hr
{
    border-top: 1px solid #ccc;
}

.labletop
{
    width: auto!important;
}

.blue-box
{
    margin: 20px;
    width: 30%;
    float: left;
    height: 150px;
    background-color: white;
    padding: 14px;
}

.closeblue
{
    opacity: 1;
    color: #004071;
    text-shadow: 0 1px 0 black;
}

.padding-top
{
    padding-top: 9%;
}

.row-full
{
    margin: 0;
    padding: 0;
    display: table;
}

a.text-button
{
    color: #717173;
    text-decoration: underline;
    float: left;
    margin-right: 20px;
    font-weight: bold;
}

a:hover.text-button
{
    color: #004071;
}

td.text-button a
{
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #72afd2;
    text-decoration: underline;
    float: left;
    margin-right: 20px;
    font-weight: bold;
}

    td.text-button a:hover
    {
        color: #004071;
    }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th
{
    background-color: #febe10;
    color: white;
}

    .table-hover tbody tr:hover td input, .table-hover tbody tr:hover th input
    {
        color: black;
    }

a
{
    color: white;
}

    a:hover,
    a:active,
    a:focus
    {
        outline: none;
        text-decoration: none;
        color: #72afd2;
    }

    a .fa
    {
        margin-right: 5px;
    }

.table-striped > tbody > tr > td, .table-striped > tbody > tr > th
{
    color: #777;
}
/* Change the color of the striped tables */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th
{
    background-color: #f3f4f5;
}

.table.no-border,
.table.no-border td,
.table.no-border th
{
    border: 0;
}

/* .text-center in tables */
table.text-center,
table.text-center td,
table.text-center th
{
    text-align: center;
}

.table.align th
{
    text-align: left;
}

.table.align td
{
    text-align: right;
}

.text-bold,
.text-bold.table td,
.text-bold.table th
{
    font-weight: 700;
}

.border-radius-none
{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th
{
    background-color: #febe10;
    color: white;
}

.modal-lg
{
    width: 80vw;
}

.modal-sm
{
    width: 40vw;
}

.modal-content
{
    padding: 20px;
}

.modal-header
{
    border-bottom: none;
}


.modal-body .nav-tabs > li > a
{
    text-align: center;
    color: #3f454f;
}

.centering
{
    width: 100%;
    margin: auto;
    text-align: center;
}

.margin
{
    margin-top: 20px;
    margin-bottom: 50px;
}

.ajax-loader2
{
    background-size: 25px 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border: none;
}

.modal-loading {
    position: relative;
    min-height: 165px;
}

.ajax-loading-dialog
{
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.popover-title
{
    width: 100%;
}

.remark_sign
{
    z-index: 9;
    background-image: url("img/remark_sign.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    /*float: left;*/
}


.form-control-small
{
    width: 37px;
    margin-left: 4px;
    background-color: #FAFAFA;
    border: 1px solid #ccc;
}

.nav-tabs > li > a
{
    text-align: center;
    color: #3f454f;
}

.form-inline .form-group
{
    margin-right: 10px;
    margin-bottom: 20px;
}

.notification
{
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
}

.form-control-small2
{
    width: 25px;
    margin-left: 4px;
    background-color: #FAFAFA;
    border: 1px solid #ccc;
}

.popover-content button
{
    margin-top: 18px;
}

.grey_text
{
    font-size: 21px;
}

/*.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th
{
    background-color: #f3f4f5;
}*/

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
    vertical-align: middle;
    padding: 5px;
    text-align: center;
}

/*.table-striped > tbody > tr > td, .table-striped > tbody > tr > th
{
    color: #777;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th
{
    background-color: #f3f4f5;
}*/
