<div class="btn-group btn-more">
    <button type="button" class="dropdown-toggle icon_more" data-toggle="dropdown"
        aria-expanded="false">
        <span class="fa fa-bars"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#"><span class="fa fa-print"></span>Print Chart</a></li>
        <li class="divider"></li>
        <li><a href="#"><span class="fa fa-bar-chart-o"></span>View Tabular</a></li>
        <li class="divider"></li>
        <li><a href="#"><span class="fa fa-file-image-o"></span>Download PNG Image</a></li>
        <li><a href="#"><span class="fa fa-file-image-o"></span>Download JPEG Image</a></li>
        <li><a href="#"><span class="fa fa-file-pdf-o"></span>Download PDF Document</a></li>
        <li><a href="#"><span class="fa fa-file-text-o"></span>Download SVG Vector Image</a>
        </li>
    </ul>
</div>
<div class="description_year">Yearly</div>
<div class="content_tab">
    <img src="@Url.Content("~/Content/img/graphic8.PNG")" />
</div>
<hr>

<div class="btn-group btn-more">
    <button type="button" class="dropdown-toggle icon_more" data-toggle="dropdown"
        aria-expanded="false">
        <span class="fa fa-bars"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#"><span class="fa fa-print"></span>Print Chart</a></li>
        <li class="divider"></li>
        <li><a href="#"><span class="fa fa-bar-chart-o"></span>View Tabular</a></li>
        <li class="divider"></li>
        <li><a href="#"><span class="fa fa-file-image-o"></span>Download PNG Image</a></li>
        <li><a href="#"><span class="fa fa-file-image-o"></span>Download JPEG Image</a></li>
        <li><a href="#"><span class="fa fa-file-pdf-o"></span>Download PDF Document</a></li>
        <li><a href="#"><span class="fa fa-file-text-o"></span>Download SVG Vector Image</a>
        </li>
    </ul>
</div>
<div class="description_year">Monthly</div>
<div class="content_tab">
    <img src="@Url.Content("~/Content/img/graphic9.PNG")" />
</div>
<hr>
<div class="btn-group btn-more">
    <button type="button" class="dropdown-toggle icon_more" data-toggle="dropdown"
        aria-expanded="false">
        <span class="fa fa-bars"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#"><span class="fa fa-print"></span>Print Chart</a></li>
        <li class="divider"></li>
        <li><a href="#"><span class="fa fa-bar-chart-o"></span>View Tabular</a></li>
        <li class="divider"></li>
        <li><a href="#"><span class="fa fa-file-image-o"></span>Download PNG Image</a></li>
        <li><a href="#"><span class="fa fa-file-image-o"></span>Download JPEG Image</a></li>
        <li><a href="#"><span class="fa fa-file-pdf-o"></span>Download PDF Document</a></li>
        <li><a href="#"><span class="fa fa-file-text-o"></span>Download SVG Vector Image</a>
        </li>
    </ul>
</div>
<div class="description_year">Monthly Commulative</div>
<div class="content_tab">
    <img src="@Url.Content("~/Content/img/graphic9.PNG")" />
</div>
