@model DSLNG.PEAR.Web.ViewModels.PmsConfigDetails.ScoreIndicatorDetailsViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="traffic-light green"></div>
    <h4 class="page-title">Score Indicator</h4>
</div>

<div class="modal-body">
    <table class="table-regawa">
        <thead>
            <tr>
                <th rowspan="2">Expression</th>
                <th rowspan="2">Color</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ScoreIndicators)
            {
                <tr data-toggle="modal">
                    <td>@item.Expression</td>
                    <td>@item.Color</td>
                </tr>
            }
        </tbody>
    </table>
</div>