@{
    ViewBag.Title = "Menu List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu List</h2>
@Html.Partial("_MessageResponse")
@Html.ActionLink("Create New", "Create", null, new { @class = "btn_small_lightblue" })
@Html.Action("IndexPartial")


@section Scripts{
    <script type="text/javascript">
        var confirmDelete = function (id) {
            if (confirm('Are you sure want to delete this item?')) {
                var url = '@Url.Action("Delete", "Menu")';
                $('<form action="' + url + '" method="POST">' +
                    '<input type="hidden" name="id" value="' + id + '">' +
                    '</form>').submit();
            }
        };
    </script>
}