@model IEnumerable<DSLNG.PEAR.Web.ViewModels.User.UserViewModel>

@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "gridUserIndex";

        settings.SettingsEditing.Mode = GridViewEditingMode.EditForm;
        settings.SettingsBehavior.ConfirmDelete = true;
        settings.Width = Unit.Percentage(60);


        settings.KeyFieldName = "Id";


        settings.Columns.Add(column =>
            {
                column.Caption = "Action";
                column.SetDataItemTemplateContent(c =>
                                                  ViewContext.Writer.Write(
                                                      Html.ActionLink("Edit", "Update", new { Id = DataBinder.Eval(c.DataItem, "Id") }) + " | " +
                                                      "<a href='javascript:;' onclick='confirmDelete(" + DataBinder.Eval(c.DataItem, "Id") + ")'>Delete</a>"
                                                      )


                    );
            });
        settings.Columns.Add("Id").Visible = false;
        settings.Columns.Add("Username");
        settings.Columns.Add("Email");
    });
    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()

