@model DSLNG.PEAR.Web.ViewModels.User.UserIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>User</h2>
@foreach (var user in Model.Users)
{
    @user.Username <br/>
    @user.Email
}


@*@Html.Action("GridViewPartial")*@
