@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="page-hgroup-header">
    <h3 class="page-title">User List</h3>
</hgroup>
@Html.Partial("_MessageResponse")
@Html.ActionLink("Create New User", "Create", null, new { @class = "button button-action" })
@Html.Action("IndexPartial")


@section Scripts{
    <script type="text/javascript">
        var confirmDelete = function(id) {
            if (confirm('Are you sure want to delete this item?')) {
                var url = '@Url.Action("Delete", "User")';
                $('<form action="' + url + '" method="POST">' +
                    '<input type="hidden" name="id" value="' + id + '">' +
                    '</form>').submit();
            }
        };
    </script>
}