@using DSLNG.PEAR.Web.DevExpressDataProvider
<script type="text/javascript">
    function AddStack(s, e) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("StackPartial", "ArtifactDesigner")',
            success: function(response) {
                $("#stacks").append(response);
            }
        });
    }
</script>
@Html.DevExpress().FormLayout(settings =>
                     {
                         settings.Name = "graphicSeries";
                         settings.EncodeHtml = false;
                         var groupItem = settings.Items.AddGroupItem(itemSettings =>
                         {
                             itemSettings.Caption = "Graphic Series";
                             itemSettings.SettingsItemHelpTexts.Position = HelpTextPosition.Bottom;
                         });
                         groupItem.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
                         groupItem.Items.Add(itemSettings =>
                             {
                                 itemSettings.Caption = "Bar Name";
                                 itemSettings.SetNestedContent(() => {
                                     Html.DevExpress().TextBox(inputSettings =>
                                     {
                                         inputSettings.Name = "Series[]Name";
                                     }).GetHtml();
                                 });
                             });
                         groupItem.Items.Add(itemSettings =>
                         {
                             itemSettings.Caption = " ";
                             itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.Button;
                             var buttonSettings = (ButtonSettings)itemSettings.NestedExtensionSettings;
                             buttonSettings.Name = "addStack";
                             buttonSettings.Text = "Add Stack";
                             buttonSettings.UseSubmitBehavior = false;
                             buttonSettings.ClientSideEvents.Click = "AddStack";
                             buttonSettings.Width = 100;
                         }).HelpText = "&nbsp;"; ;
                     }).GetHtml()
<div id="stacks">

</div>
