@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page Not Found</title>
</head>
<body>
    <div>
        <h2>Page Not Found, please contact System Administrator for further information</h2>
    </div>
</body>
</html>
