
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>You don't have authorization to view this page, please contact System Administrator for further information</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
